<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Баланс на карте</title>
    <link rel="stylesheet" type="text/css" media="all" href="uikit.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
</head>
<body>
    <div class="uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-card uk-card-default">

            <div class="uk-card-header">
                <h3 class="uk-card-title">Результат запроса</h3>
            </div>

            <div class="uk-card-body">
                <table class="uk-table uk-table-divider">
                    <tbody>
                        <tr>
                            <td>Номер вашей карты:</td>
                            <td>Здесь будут данные</td>
                        </tr>
                        <tr>
                            <td>Ваш баланс:</td>
                            <td>Здесь будут данные</td>
                        </tr>
                    </tbody>
                </table>
                <a class="uk-link-heading" href="/">Вернуться назад</a>
            </div>

        </div>
    </div>
</body>
</html>