<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запрос баланса на карте</title>
    <link rel="stylesheet" type="text/css" media="all" href="uikit.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
</head>
<body>
    <div class="uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-card uk-card-default">

            <div class="uk-card-header">
                <h3 class="uk-card-title">Запрос баланса по карте</h3>
            </div>

            <div class="uk-card-body">
                <form class="uk-form-stacked" method="post">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="card-number">Номер карты:</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-large" id="card-number" type="text" placeholder="Введите номер карты">
                        </div>
                    </div>

                    <button class="uk-button uk-button-primary">Запросить баланс</button>

                </form>
            </div>

        </div>
    </div>
</body>
</html>